@import url(util.css);
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url(mobile.css);



body {
    background-color: floralwhite;
    font-family: 'Poppins', sans-serif;

}

@media (min-width: 768px) {

    .all {
        width: 100%;
        position: sticky;
        height: 100px;
        top: 0
    }

    .webNav {
        background-color: #1c7c70;
        height: 2em;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: x-large;

    }


    #logo {
        position: absolute;
        right: 92%;
        height: 1.5em;
        width: max-content;
    }

    .logo {
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    #home {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;

        background-color: floralwhite;
    }

    .title-home {
        margin: 0 0 0 5%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        text-align: left;
    }

    #title-ox {
        font-size: 60px;
        font-family: 'Dhurjati', sans-serif;
        color: #37b4fc;
        text-align: left;
        margin: 0;

    }

    #title-ox b {
        font-size: 68px;
        color: #303c44
    }

    #sub-ox {
        margin: 3% 0;
        text-align: left;
        justify-content: left;
        font-size: x-large;
    }

    #gado {
        min-height: 300px;
        min-width: 300px;
    }

    #about {
        /* padding-top: 20%; */
        margin: auto;
        width: 62%;
        margin-top: 22%;
        display: flex;
        flex: row;
        justify-content: center;

        justify-content: center;
        margin-bottom: 30px;

    }

    .div-about {
        margin: 0 2% 0 0;
        width: 70%;
        padding: 5px 10px;
        font-size: medium;
        text-align: justify;

        /* border-radius: 10px; */
        /* box-shadow: 0.1px 0.1px 50px 0.1px rgba(0, 0, 0, 0.041); */
    }

    #about h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
    }

    .img-boi {
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 300px;
        border-radius: 2px;

    }

    .icone {
        height: 100px;
    }

    .funcionalidades-text {
        padding: 20px;
    }

    .funcionalidades {

        margin: auto;
        display: flex;
        flex-direction: column;
        width: 62%;
        justify-content: center;

    }

    .funcionalidades h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        text-align: left;
    }

    .funcionalidades-div {
        background-color: rgba(247, 239, 225, 0.384);
        padding: 5px 10px;
        border: 1px solid whitesmoke;

        display: flex;
        flex-direction: row;
        box-shadow: 0.1px 0.1px 5px 0.1px rgba(0, 0, 0, 0.041);
        border-radius: 10px;
        align-items: center;
        margin: 1% 0;
    }

    .funcionalidades-div p {
        margin: 0 1%;
    }

    #contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #contact h2 {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }


    .div-email {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .div-email p {
        margin: 0 4% 0 0;
    }

    .div-email input {
        height: 70%;
        width: 24em;
        border-radius: 4px;
        border: 1px solid #1c7c70;
        transition: all 0.5s;
    }

    .mobileNav {
        display: none;
    }

    .assunto textarea {
        width: 50.5em;
        height: 10em;
        resize: none;
        border-radius: 4px;
        transition: all 1s;
        border: 1px solid #1c7c70;
    }

    .div-email input:focus {
        scale: 1.03;
        border: 1px solid #1c7c70;
        outline: #1c7c70;


    }

    .assunto textarea:focus {
        scale: 1.01;
        outline: #1c7c70;
    }

    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btn input {
        width: 15em;
        height: 3em;
        margin-bottom: 10%;
        margin-right: 5px;
        background-color: #1c7c70;
        color: whitesmoke;
        border: #303c44 1px;
        border-radius: 5px;
        font-size: medium;
    }


    .icons {
        margin-left: 1%;
        display: flex;
        flex-direction: column;
    }

    .ico {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .icons a:link {
        cursor: pointer;
        color: black;
        text-decoration: none;

    }

    .icons a:visited {
        cursor: pointer;
        color: black;
        text-decoration: none;

    }

    .icons a:hover {
        cursor: pointer;
        color: black;
        text-decoration: none;

    }

    .icons a:active {
        cursor: pointer;
        color: black;
        text-decoration: none;

    }

    .icons a {
        cursor: pointer;
        color: black;
        text-decoration: none;

    }

    #site-footer {
        width: 100%;
        height: 4em;
        margin: auto;
        background-color: #1c7c70;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: whitesmoke;
        align-items: center;
    }

    #site-footer div {
        margin: 0 5px;
    }

}